// COLORS
$color-primary: #c72c41;
// $color-primary: #55c57a;

$color-primary-light: #382039;

$color-primary-dark: #2d132c;

$color-secondary-light: #382039;
$color-secondary-dark: #ff7730;

$color-tertiary-dark:#5a3d55;
$color-tertiary-light: #951555;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-light-1: #ffce76;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;